body{
    background-color: rgb(31, 80, 154);
}
h1, h2{
    background-color: rgb(10, 57, 129);
    color:azure;
    width:550px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
p, ul{
    background-color: rgb(212, 235, 248);
    width:550px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
li{
    font-style:italic;
}
#links{
    background-color: rgb(227, 142, 73);
    width:90px;
    border-radius:5px;
}